@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutSlider.cshtml";
}
<div class="slider"></div>
<div class="mainbody">
    <div class="container4">
        <div class="left">
        	<div class="title">
        	  <h1>ABOUT US</h1>
        	</div>
            <div class="cpnmain">
            	<span class="bdytxt1">
                	Couponknot.com is the world's leading online hotspot for discount seekers who like to spare cash on the web. Couponknot.com launched in 2014 with a dream to help the buyer’s to save cash on their online buys and turning into a contact for purchasers and shippers. Couponknot.com is not only a basic site like all other coupon sites, it is a spot where all the colleagues and staff work so hard to hunt most recent coupon codes, rebate bargains, special codes, blowout sales, free dispatching and bunches of other unique offers only for the individuals like you.<br />
<br />
Couponknot.com not only furnishes the buyer with an extraordinary online experience but it also helps able & smart purchasers spare cash on their web shopping. With in excess of 6,000 premium online stores and more than 20,000 rebate coupons recorded, Couponknot.com is the best online hotspot for discovering free dispatching, discounts, dollar-off, rate off advancements 24/7. Web shopping gets more helpful than at any other time among the approaching occasion and regular advancements. Sitting at home and without all the bother of shopping center shopping and stopping, customers can get generous online investment funds through Couponknot.com<br />
<br />
To guarantee that you don't miss any single cash saving advancements, you can subscribe for Couponknot.com Newsletter to get most recent coupons, advancement codes, and discount offers right to your letter drop. <br />
<br />
For any inquiries, remarks, or criticism, don't hesitate to Contact Us.
                </span>
            </div>
      </div>
        <div class="right">
        	<div class="newslettermain">
            	<h2>Never Miss a Coupon..!</h2>
                <span class="simpletxt">Sign up and get our fabulous deals for your favorite brands and products.</span>
                <input type="text" class="txtfield1" />
                <input type="button" class="btn1" value="SUBSCRIBE" />
            </div>
        	<div class="topstores">
            	<h2>Top Categories</h2>
                <ul class="storesmain">
                	<li><a href="#" class="storeslinks">Apparel & Clothing</a></li>
                	<li><a href="#" class="storeslinks">Arts & Crafts</a></li>
                	<li><a href="#" class="storeslinks">Auctions</a></li>
                	<li><a href="#" class="storeslinks">Automotive</a></li>
                	<li><a href="#" class="storeslinks">Babies & Kids</a></li>
                	<li><a href="#" class="storeslinks">Books & Media</a></li>
                </ul>
                <input type="button" class="btn3" value="VIEW MORE" />
            </div>
        	<div class="featuredcoupons">
            	<h2>Featured Coupons</h2>
                <ul class="featuredcoupons2">
                	<li><a href="#" class="fclinks">Shop $179 or More to Save $10 by Applying Promo Code at Zerbee Apply 'BASEBALL10' voucher Code</a></li>
                	<li><a href="#" class="fclinks">Shop $179 or More to Save $10 by Applying Promo Code at Zerbee Apply 'BASEBALL10' voucher Code</a></li>
                	<li><a href="#" class="fclinks">Shop $179 or More to Save $10 by Applying Promo Code at Zerbee Apply 'BASEBALL10' voucher Code</a></li>
                	<li><a href="#" class="fclinks">Shop $179 or More to Save $10 by Applying Promo Code at Zerbee Apply 'BASEBALL10' voucher Code</a></li>
                </ul>
                <input type="button" class="btn4" value="VIEW MORE" />
            </div>
        	<div class="textbox">
            	<h2>Text Box</h2>
                <span class="simpletxt">Sign up and get our fabulous deals for your favorite brands and products.</span>
                <input type="button" class="btn2" value="READ MORE" />
            </div>                        
        </div>
        <p style="clear:both;"></p>
    </div>
</div>